<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Shilohh</string>
	<key>Year</key>
	<string>2014</string>
	<key>Description</key>
	<string>Asus ROG</string>
	<key>Theme</key>
	<dict>
		<key>Origination</key>
		<dict>
		    <key>DesignWidth</key>
		    <integer>2560</integer>
		    <key>DesignHeight</key>
		    <integer>1440</integer>
		</dict>
		<key>Background</key>
		<dict>
			<key>Path</key>
			<string>ThemeBG.png</string>
			<key>Type</key>
			<string>Tile</string>
		</dict>
		<key>Badges</key>
		<dict>
			<key>Inline</key>
			<false/>
			<key>Show</key>
			<true/>
			<key>Swap</key>
			<true/>
			<key>Scale</key>
			<integer>4</integer>
		</dict>
		<key>Banner</key>
		<string>logo.png</string>
		<key>Font</key>
		<dict>
			<key>CharWidth</key>
			<integer>10</integer>
			<key>Path</key>
			<string>WoB_PTMono_10W_grey.png</string>
			<key>Type</key>
			<string>Load</string>
		</dict>
		<key>Selection</key>
		<dict>
			<key>Big</key>
			<string>Selection_big.png</string>
			<key>Color</key>
			<string>0xFFFFFF80</string>
			<key>Small</key>
			<string>Selection_small.png</string>
		</dict>
	</dict>
</dict>
</plist>
